@keyframes ghost-loading {
  to {
    background-position: left;
  }
}
.ghost:empty {
  border-radius: 6px;
  mask: linear-gradient(#000 0 0) top / 100% 100%;
  mask-repeat: no-repeat;
  background: linear-gradient(90deg, rgb(233, 233, 233) 40%, rgb(240, 240, 240), rgb(233, 233, 233) 60%) right/300% 100%;
  animation: ghost-loading 1s infinite;
}

.welcome.ghost:empty {
  width: 10em;
  height: 1.25em;
}

.textfield:empty {
  width: 100%;
  height: 3.5em;
}

.button:empty {
  width: 10em;
  height: 3em;
}
